/* Text Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgba(255, 255, 255, 1);
}

/* Common Styles */
.display-flex {
  display: flex;
}

.description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.span-color {
  color: rgba(233, 90, 8, 1);
}

/* Nav Related Style */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  justify-content: center;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-cart {
  list-style: none;
  /* For cart image */
}

.nav-link {
  text-decoration: none;
}

.nav-text1 {
  color: #252432;
  font-size: 16px;
  font-weight: bold;
}

.nav-text2 {
  color: #8987A1;
  font-size: 16px;
}

.navbar,
.banner,
.plants,
.flower-cards,
.plants-lover {
  max-width: 1140px;
  margin: 0 auto;
}


/* Banner releted style */
.banner {
  justify-content: space-between;
  align-items: flex-end;
}

.banner-content {
  /* max-width: 570px; */
  margin-top: 162px;
}

.banner-img {
  max-width: 570px;
  margin-top: 106px;
}

.banner-title {
  font-weight: bold;
  font-size: 4.06rem;
}

/* Our plants section */
.plants {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 49px;
}

.plants-tille {
  font-weight: bold;
  font-size: 3.125rem;
}

.plants-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 888px;
  margin-top: 16px;
  margin-left: 126px;
  margin-right: 126px;
}

.flower-cards {
  gap: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* .card-info{
  max-width: 270px;
} */
.card-name {
  font-weight: 500;
  font-size: 1.37rem;
  margin-top: 25px;
}

.card-price {
  font-weight: bold;
  font-size: 1.37rem;
  margin-top: 15px;
}

.cart-btn {
  font-weight: 600;
  font-size: 1rem;
  color: white;
  background-color: #E95A08;
  padding: 19px 80px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.cart-btn:hover {
  background-color: #9a4716;
}

/* Flower and plants lover styles */
.plants-lover{
  gap: 60px;
  margin-top: 210px;
}
.plants-lover-img {
  position: relative;
}
.badge-overlay{
  position: absolute;
  width: 280px;
  top: -130px;
  left: 360px;
  z-index: 1;
}
.lover-title{
  font-weight: bold;
  font-size: 3.125rem;
}
.lover-description{
  font-weight: 400;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.lover-description li{
  margin-bottom: 20px;
}
.plants-lover-description{
  margin-bottom: 38px;
}

/* Responsive Media query */
@media screen and (max-width:576px) {

  .navbar {
    justify-content: ;
    align-items: ;
    max-width: 361px;
    margin: ;
  }

  .nav-links {
    display: none;
  }

  .nav-cart-links {
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    padding-bottom: 5px;
  }

  .nav-right {
    justify-content: flex-end;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-img {
    max-width: 100%;
  }

  .banner-title {
    font-size: 2.5rem;
  }

  .banner-content {
    max-width: 361px;
    margin-top: 28px;
    margin: 0 auto
    flex-wrap: ;
  }

  .description {
    width: 360px;
    margin: 0 auto;
    line-height: 1.2;
  }

  .flower-cards{
    flex-direction: column;
  }
  .flower-cards{
    grid-template-columns: repeat(2,1fr);
  }
  .plants{
    /* max-width: 100%; */
  }
  .plants-tille{
    text-align: center;
    max-width: 393px;
  }
  .plants-description{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-left: 35px;
  }
  .plants-lover{
    flex-direction: column;
    /* max-width: 361px; */
    /* width: 100%; */
  }
  .plants-lover-img{
    /* max-width: 361px; */
    margin-left:12px ;
  }
  .badge-overlay{
    display: none;
  }
  .plants-lover-description{
    /* max-width: 361px; */
    margin-left: 12px;
  }
}